<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width">

	<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />
</head>
<body id="page{{ page.order }}">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-45107696-1', 'trums.co.uk');
      ga('send', 'pageview');
    
    </script>
	<div id="main">
		<!--header -->
		<div id="header">
			<div id="logo-div">
				<a href="/{% if page.language != 'en' %}{{ page.language }}{% endif %}" id="logo">
					<img src="/assets/images/logo.png" alt="">
				</a>
				<span>{% include expert.html %}</span>
			</div>
			<div class="row1">
				<div class="container">
					<ul class="submenu">
						<li class="first"><a href="/">EN</a></li>
						<li><a href="/de">DE</a></li>
						<li><a href="/ru">RU</a></li>
					</ul>
				</div>
			</div>
			<ul class="menu">
				{% for order in (1..10) %}
					{% for p in site.pages %}
						{% if p.order %}
							{% if p.order == order and p.language == page.language %}
								<li {% if p.url == page.url %}class="active"{% endif %}>
									<a href="{{ p.url }}">{{ p.title }}</a>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
			<div class="container">
				<div id="banner">
					<div class="slogan">
						<h3>+994 50 227 88 85</h3>
						<h3>info@trums.co.uk</h3>
					</div>
				</div>
			</div>
		</div>
		<!--header end-->
		<div id="content">
			{{ content }}
		</div>
		<!--footer -->
		<div id="footer">Trums.co.uk &copy; {{ site.time | date: '%Y' }}</div>
		<!--footer end-->
	</div>
</body>
</html>
